@using ITNewsService.Helpers
@model ITNewsService.Models.NewsViewModel

<div class="panel widget">
    @if (User.IsInRole("admin") || User.IsInRole("user"))
    {
        <div>
            <form action="/home/Comment" method="post">
                <div class="form-group">
                    <label class="col-sm-12" for="inputBody">Leave comment</label>
                    @Html.Hidden("NewsID", Model.SelectedNews.ID)
                    <div class="col-sm-12"><textarea name="Text" class="form-control no_border no_max_width" id="inputBody" style="resize: vertical" rows="2"></textarea></div>
                    <div class="col-sm-12" style="margin-top: 10px; margin-bottom: 40px;">
                        <button type="submit" class="btn btn-danger no_border" title="Delete" style="float: right; padding: 5px 40px;">
                            <span class="glyphicon glyphicon-comment"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    }
    <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title text-muted">
            <b>Comments</b>
        </h3>
        <span class="text-muted" style="float: right;">
            <b>Total comments @Model.NuberOfComments</b>
        </span>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var comment in Model.SelectedNews.Comments)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img src="~/Content/img/profile.png" class="img-circle img-responsive" alt="" />
                        </div>
                        <div class="col-xs-10 col-md-11">
                            <div>
                                <div class="mic-info">
                                    By: <b>@comment.PublisherName</b> on @comment.Date.ToString("dd MMM yyyy")
                                </div>
                            </div>
                            <div class="comment-text">
                                @comment.Text
                            </div>
                            @if (Request.IsAuthenticated && comment.Publisher.Equals(UserDetails.GetUserID()))
                            {
                                <form action="/home/DeleteComment" method="post">
                                    <div class="action">
                                        @Html.Hidden("NewsID", Model.SelectedNews.ID)
                                        @Html.Hidden("CommentID", comment.ID)
                                        <button type="submit" class="btn btn-danger btn-xs no_border" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>