@model WebMailService.Models.EmailViewModel

@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body { margin-top: 50px; }
    .nav-tabs .glyphicon:not(.no-margin) { margin-right: 10px; }
    .tab-pane .list-group-item:first-child { border-top-right-radius: 0px; border-top-left-radius: 0px; }
    .tab-pane .list-group-item:last-child { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
    .tab-pane .list-group .checkbox { display: inline-block; margin: 0px; }
    .tab-pane .list-group input[type="checkbox"] { margin-top: 2px; }
    .tab-pane .list-group .glyphicon { margin-right: 5px; }
    .tab-pane .list-group .glyphicon:hover { color: #FFBC00; }
    a.list-group-item.read { color: #222; background-color: #F3F3F3; }
    hr { margin-top: 5px; margin-bottom: 10px; }
    .nav-pills > li > a { padding: 5px 10px; }
    .ad { padding: 5px; background: #F5F5F5; color: #222; font-size: 80%; border: 1px solid #E5E5E5; }
    .ad a.title { color: #15C; text-decoration: none; font-weight: bold; font-size: 110%; }
    .ad a.url { color: #093; text-decoration: none; }
    #custom-search-input { padding: 0; width: 250px; height: 34px; float: left; border: solid 1px #cccccc; background-color: #fff; }
    #custom-search-input input { border: 0; box-shadow: none; }  
    #custom-search-input button { margin: 2px 0 0 0; background: none; box-shadow: none; border: 0; color: #666666; padding: 0 0 0 10px; border-left: solid 1px #ccc; }
    #custom-search-input button:hover { border: 0; box-shadow: none; border-left: solid 1px #ccc; }
    #custom-search-input .glyphicon-search { font-size: 12px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <h4 style="font-weight: bold;">MAIL SERVICE</h4>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Split button -->
            <div class="btn-group" style="float: left; margin-right: 3px;">
                <button type="button" class="btn btn-default no_border">
                    <div class="checkbox" style="margin: 0;">
                        <label>
                            <input type="checkbox"><span>All</span>
                        </label>
                    </div>
                </button>
            </div>
            <button type="button" class="btn btn-default no_border" data-toggle="tooltip" title="Refresh" style="float: left; margin-right: 3px; width: 77px; padding-left: 25px;" onclick="refreshPage()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <script> function refreshPage() { window.location.reload(); } </script>
            <form action="/Home/Search" method="get">
                <div id="custom-search-input">
                    <div class="input-group col-md-12" style="padding: 0 8px;">
                        <input type="text" name="searchText" class="form-control input-lg" placeholder="Search emails ..." style="height: 32px; font-size: 13px; padding: 5px;" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
            <!-- Single button -->
            <div class="pull-right" style="margin-top: 7px;">
                <span class="text-muted"><b>Total emails: </b><b>@Model.TotalMessages</b></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("_ComposePartial")
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li class="@( Model.SelectedLabel.Equals("Inbox") ? "active" : "")">
                    <a href="/Home/Index">
                        <span class="glyphicon glyphicon-inbox"></span>
                        @if (Model.InboxNewMessages != 0)
                        {
                            <span class="badge pull-right">@Model.InboxNewMessages</span>
                        }
                        Inbox 
                    </a>
                </li>
                <li class="@( Model.SelectedLabel.Equals("Sent") ? "active" : "")">
                    <a href="/Home/Sent"><span class="glyphicon glyphicon-send"></span> Sent Mail</a>
                </li>
                <li class="@( Model.SelectedLabel.Equals("Trash") ? "active" : "")">
                    <a href="/Home/Trash"><span class="glyphicon glyphicon-trash"></span>Trash</a>
                </li>
            </ul>
        </div>
        @Html.Partial("_EmailsPartial", Model)
    </div>
</div>